* 
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body
{
	font-family: 'Oxygen', sans-serif;
	/*background-color: #26292b;*/
}

.error a
{
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.error a:hover
{
	text-decoration: underline;
}

#header a
{
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 10px;
}

h1
{
	font-size: 3em;
}

#flashplayer
{
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	position: absolute;
}

#flash-underlay
{
	width: 640px;
	height: 480px;
}

#flash-underlay > img
{
	width: 100%;
	height: 100%;
}

#site-content
{
	width: 70%;
	max-width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#project-header
{
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	text-align: center;
	max-height: 500px;
	overflow-y: hidden;
	background-color: grey;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position-y: 50%;
}

#header-foreground
{
	/*width: 600px;
	height: 400px;
	background-color: blue;*/
	z-index: 2;
	/*position: relative;*/
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
#project-header > *
{
	width: 100vw;
	max-height: 500px;
}
*/

#project-header-img
{
	width: 100vw;
	/*margin-top: -25%;*/
	float: left;
	position: absolute;
	display: inline;
}

#project-metadata
{
	padding: 10px;
	padding-left: 0px;
	margin-bottom: 10px;
}

.project-metadata-cat
{
	font-weight: bold;
}

#project-body
{

}

blockquote
{
	margin-left: 10px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;	
	border-left: grey 5px solid;
	font-style: italic;
}

#project-body p
{
	margin-bottom: 10px;
}

#project-title > h4
{
	size: 1.5em;
	margin-bottom: 10px;
	margin-top: 10px;
}

#games
{
	column-count: 3;
	column-gap: 0;
	box-sizing: border-box;
	position: relative;
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	flex-wrap: wrap;
	/*align-items: flex-start;*/
}

#navbar
{
	width: 100% fixed;
	text-align: center;
	padding: 2px;
	margin: 2px;
	/*margin-top: -1px;
	margin-bottom: -1px;*/
}

#navbar li
{
	padding: 2px;
	margin: 2px;
	margin-left: 5px;
	margin-right: 5px;
	list-style-type: none;
	display: inline-block;
	border-bottom: 3px solid transparent;
}

.navlink, .navlink:active, .navlink:hover, .navlink:link, .navlink:visited, .navlink:focus
{
	text-decoration: none !important;
}

#navbar li a
{
	color: black;
	/*margin-bottom: -2px;*/
	display: block;
	text-decoration: none !important;
	border: none !important;
}

#navbar li:hover
{
	border-bottom-color: black;
}

#navbar li:active
{
	text-decoration: underline;
}

#ontheweb ul
{
	padding-left: 0px;
	text-align: center;
}

#ontheweb li
{
	list-style-type: none;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.6;
}

#ontheweb li:hover
{
	opacity: 1.0;
}

#aboutbody
{
	width: 60%;
	text-align: center;
}

#content
{
	/*overflow: hidden;*/
}

.vertical-flow
{
	flex-direction: column;
}

@media all and (max-width: 900px)
{
	.horizontal-flow
	{
		flex-direction: column;
	}
}

@media all and (min-width: 901px)
{
	.horizontal-flow
	{
		flex-direction: row;
	}
}

.full-mosaic
{
	flex-basis: 100%;
}

.half-mosaic
{
	flex-basis: 50%;
}

.quarter-mosaic
{
	flex-basis: 25%;
}

.mosaic-cluster
{
	display: flex;
	height: 100%;
}

.mosaic-element
{
	display: flex;
	/*flex: 2 2 auto;*/
	break-inside: avoid;
	overflow: hidden;
	/*flex-shrink: 0 !important;*/
	/*min-width: 400px;*/
	height: 100%;
	/*flex-basis: 400px;*/
	flex-grow: 0;
	align-items: flex-start;
}

.mosaic-element > a
{
	width: 100%;
	height: 100%;
}

.item-overview
{
	width: 100%;
	height: 100%;
	border: 1px lightgrey solid;
	margin-bottom: 5px;
	text-decoration: none;
	opacity: 1.0;
	position: relative;
	overflow: hidden;
	color: black;
	-webkit-transition: border-color 1s;
	transition: border-color 1s;
}

.item-overview .item-details h4
{
	margin-top: -5px;
}

.item-detail-style
{
	padding: 10px;
	float: left;
	background: grey;
	z-index: 1;
	position: relative;
}

@media (hover: hover)
{
	.item-overview > .item-details
	{
		opacity: 0.0;
	}

	.item-overview:hover > .item-details
	{
		opacity: 0.9;
	}
}

@media (hover: none)
{
	.item-overview > .item-details
	{
		opacity: 0.9;
	}
}

.item-overview .thumbnail 
{
	position: absolute;
	/*top: 0px;
	right: 0px;*/
	width: 100%;
	height: 100%;
}

.item-overview .thumbnail img
{
	/*max-width: 100%;*/
	height: 100%;
	width: 100%;
	opacity: 0.8;
	-webkit-transition: width 1s, height 1s, opacity 0.5s;
	transition: width 1s, height 1s, opacity 0.5s;
}

.item-overview:hover
{
	opacity: 1.0;
	border: 1px grey solid;
}

.item-overview:hover img
{
	width: 110%;
	height: 110%;
	opacity: 1.0;
}

#games li, #software li
{
	list-style-type: none;
	display: block;
}

#misc li
{
	display: inline;
	float: left;
	width: 48%;
	padding-right: 2%;
	padding-left: 0%;
	margin-left: 0px;
	margin-right: auto;
}

#misc li:nth-child(even)
{
	margin-left: auto;
	margin-right: 0px;
	padding-right: 0%;
	padding-left: 2%;
}

#misc li .item-overview
{
	width: 100%;
	height: 150px;
	float: none;
}

#euler ul
{
	list-style-type: none;
}

.euler_id
{
	font-weight: bold;
	width: 20px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}

#euler li a
{
	text-decoration: none;
	color: black;
}

#euler li a:hover
{
	text-decoration: underline;
}

#euler_explanation a
{
	text-decoration: none;
	font-weight: bold;
	color: black;
}

#footer
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	width: 50%;
	color: lightgrey;
	-webkit-transition: color 1s;
	transition: color 1s;
}

#footer:hover
{
	color: black;
}

#footer p
{
	font-size: 0.75em;
}