$def with(templates)
<div id="about">
	<div id="ontheweb">
		<ul>
			$:templates.ontheweb("linkedin", "http://uk.linkedin.com/in/petemurdoch")
			$:templates.ontheweb("twitter", "http://twitter.com/lostrootpass")
			$:templates.ontheweb("flickr", "http://flickr.com/lostrootpass")
			$:templates.ontheweb("github", "http://github.com/lostrootpass")
		</ul>
	</div>
	<div id="aboutbody">
		<p>Find me elsewhere on the Internet at the links above or <a href="mailto:web@pmurdoch.com?subject=Hello">email me</a></p>
	</div>		
</div>
