$def with(templates, content)
<!DOCTYPE html>
<html>
	<head>
		<title>Pete Murdoch</title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="site-content">
			<div id="header">
				<a href="/"><h1>Pete Murdoch</h1></a>
			</div>
			<div id="navbar">
				<ul>
					<li><a href="/" class="navlink">Work</a></li>
					<li><a href="/about" class="navlink">About/Contact</a></li>
				</ul>
			</div>
			<div id="content">
				$:content
			</div>
		</div>
		
		<div id="footer">
			<p>Email: [first name] [at] [this domain]</p>
			<p>This site and its owner are fully RFC2324 compliant.</p>
		</div>
	</body>
</html>
