$def with(templates, content, ctx)
$code:
	def langlink(lang):
		return ctx.path + "?lang=" + lang

<!DOCTYPE html>
<html>
	<head>
		<title>$_('myname')</title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="hero">
			<div id="header">
				<a href="/"><h1>$_('myname')</h1></a>
			</div>
			<div id="navbar">
				<ul>
					<li><a href="/" class="navlink navbartext">$_('nav_work')</a></li>
					<li><a href="/about" class="navlink navbartext">$_('nav_aboutcontact')</a></li>
				</ul>
			</div>
		</div>
		<div id="site-content">
			<div id="content">
				$:content
			</div>
		</div>
		
		<div id="footer">
			<p><a href="$langlink('en')">$_('language_en')</a> | <a href="$langlink('fr')">$_('language_fr')</a> | <a href="$langlink('ja')">$_('language_ja')</a></p>
		</div>
	</body>
</html>
