$def with(templates)
<div id="games">
	<h3>Games</h3>
	<ul>
		$:templates.item("Dovetail Flight Simulator", "http://store.steampowered.com/app/441920/", "Flight sim based on Microsoft's Flight Simulator X technology", "dfs.png")
		$:templates.item("Wetware", "http://wetwaregame.com", "A cyberpunk real-time strategy game from Reality Council", "wetware.png")
		$:templates.item("MUD: Multi-User Deathtrap", "http://github.com/lostrootpass/sgj12", "A puzzle-roguelike created as part of Global Game Jam", "mud.png")
		$:templates.item("Cadbury Minute Games", "https://vimeo.com/29048128", "A minigame collection created as part of a London 2012 advertising campaign", "mtwi.jpg")
		$:templates.item("Countdown To Extinction", "/extinction", "A survival game created as part of Global Game Jam", "countdown.png")
		$:templates.item("Stop! Engage Muffin Contraption!", "http://tinyurl.com/muffincontraption", "A puzzle game about muffins", "muffins.png")
		$:templates.item("Obtain Hats For Glory!", "http://tinyurl.com/obtainhats", "A platformer about hats. And glory.", "hats.png")
		$:templates.item("Gungrenages", "http://github.com/lostrootpass/unrealdemo", "Demo made to test some features of Unreal Engine 4. Source code available.", "gungame-thumb.png")
	</ul>
</div>
<div id="software">
	<h3>Apps & Software</h3>
	<ul>
		$:templates.item("Steam Transfer Manager", "https://github.com/lostrootpass/steamtransfer", "Open source tool for managing Steam installations.")
		$:templates.item("img", "http://img.pmurdoch.com", "A drag-and-drop image uploader with auto-delete and image manipulation. Source available on github.")
		$:templates.item("Tachyon", "#", "A full-featured, slick Twitter app for HP/Palm webOS", "tachyon.png")
		$:templates.item("Dreamtask", "#", "A simple, focused todo list application with import/export features", "dreamtask.png")
	</ul>
</div>
<div id="misc">
	<h3>Experiments, Scripts, and (Not Quite) Everything Else</h3>
	<ul>
		$:templates.item("snipyt", "http://snipyt.pmurdoch.com", "A tool for grabbing segments of YouTube videos. Source on Github.")
		$:templates.item("Raytracer", "#", "A C++ raytracer with support for custom scripts")
		$:templates.item("muffins", "#", "A PHP CMS with multi user support, comments, syndication, and more")
		$:templates.item("lighttpd-include", "/code/lighttpd-include", "An easy way of allowing per-user config on a single lighttpd instance")
		$:templates.item("Project Euler", "/euler", "Project Euler solutions in a mixture of C++, Python, and Perl")
		$:templates.item("This website", "http://github.com/lostrootpass/pmurdoch", "Pure HTML5/CSS3 with webpy running on lighttpd/CentOS. Source on github.")
	</ul>
</div>
