$def with(templates)

$# declare all the elements here - it makes it easier to rearrange later
$code:
	projects = {}
	Project = namedtuple('Project', ['name', 'link', 'thumbnail'])

	projects["dfs"] = Project("Dovetail Flight Simulator", "/", "dfs.png")
	projects["mud"] = Project("MUD: Multi-User Deathtrap", "/", "mud.png")
	projects["countdown"] = Project("Countdown to Extinction", "/", "countdown.png")
	projects["hats"] = Project("Obtain Hats For Glory!", "/", "hats.png")
	projects["wetware"] = Project("Wetware", "/", "wetware.png")
	projects["muffins"] = Project("Stop! Engage Muffin Contraption!", "/", "muffins.png")
	projects["minutegames"] = Project("Minute Games", "/", "mtwi.jpg")
	projects["tachyon"] = Project("Tachyon", "/", "tachyon.png")
	projects["stm"] = Project("Steam Transfer Manager", "/", "")
	projects["img"] = Project("img", "/", "")
	projects["dreamtask"] = Project("Dreamtask", "/", "dreamtask.png")
	projects["euler"] = Project("Project Euler", "/", "")
	projects["yodawg"] = Project("This Site", "/", "")

	def getel(mosaicsize, height, name):
		return templates.element(mosaicsize, height, templates.item(projects[name]))

<div id="games" class="vertical-flow">
	<div class="horizontal-flow mosaic-cluster full-mosaic">
		$:getel("full", "400px", "dfs")
		
		$ elements = [getel("quarter", "200px", "mud"), getel("quarter", "200px", "countdown")]
		$:templates.cluster("vertical", "half", elements)
	</div>

	<div class="horizontal-flow mosaic-cluster full-mosaic">
		$ elements = [getel("quarter", "200px", "hats"), getel("quarter", "440px", "tachyon")]
		$:templates.cluster("vertical", "quarter", elements, "30%")
		<div class="vertical-flow mosaic-cluster full-mosaic" style="flex-basis: 70%;">
			$:getel("quarter", "400px", "wetware")

			$ elements = [getel("half", "480px", "muffins"), getel("half", "480px", "minutegames")]
			$:templates.cluster("horizontal", "half", elements)
		</div>	
	</div>
</div>